<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome To Landing Page</title>
    <!--<link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Arctix</a>
        <button type="button" class="btn btn-light" id="toggle-theme"><i class="btn fas fa-moon no-dark-mode" data-color="#e4e6eb #e4e6eb #24292D #24292D #242526"></i></button>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/allroutes">Find All Routes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tg Bot Details</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        MongoDB
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/home">WZML-X</a></li>
                        <li><a class="dropdown-item" href="/about">ZMIRROR</a></li>
                    </ul>
                </li>
        </div>
    </div>
</nav>

<div class="container mb-4">
  <div class="tgbot">
    <p class="fw-bold">This Is For TgBot</p>
    <h1 class="tgbot_1"> <a href="/about" class="btn btn-primary">Continue This By clicking On this</a> </h1>
  </div>
  <div class="wzml">
    <p class="fw-bold">This Is For Wzml-x Bot</p>
    <h1 class="tgbot_1"> <a href="/contact" class="btn btn-primary">Continue This By clicking On this</a> </h1>
  </div>
  <div class="zmirror">
    <p class="fw-bold">This Is For Z-Mirror Bot</p>
    <h1 class="tgbot_1"> <a href="/about" class="btn btn-primary">Continue This By clicking On this</a> </h1>
  </div>
</div>

<!-- <script src="main.js"></script> -->
 <script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>

</html>